@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: white;
}

.prose h3 {
  color: #93c5fd;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.prose h4 {
  color: #e5e7eb;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.prose p {
  margin-bottom: 1rem;
  color: #d1d5db;
}
